@model IEnumerable<ClientStaver.Models.ComputerStat> 

@{
    ViewData["Title"] = "Statistics";
}

<h1>Statistics</h1>

<p>Welcome to the Stat Server page. Here you can view statistics of dell server.</p>

<style>
    table {
        border-collapse: collapse;
        
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tr:hover {
        background-color: #ddd;
    }
</style>

@* @{
    var computerStats = (IEnumerable<ClientStaver.Models.ComputerStat>)Model.ComputerStats;

    var labels = computerStats.Select(cs => cs.DateTime); // Popisky osy X
    var values = computerStats.Select(cs => cs.Temperature); // Hodnoty osy Y
} *@

<div style="display: flex">
    <div style="flex: 1; padding: 10px; width: 50%;">
        @* <canvas id="myChart" width="200" height="100"></canvas>

        <script>
            // Data z Razor modelu
            var labels = @Html.Raw(Json.Serialize(labels));
            var values = @Html.Raw(Json.Serialize(values));

            // Inicializace grafu
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line', // Typ grafu (bar, line, pie, atd.)
                data: {
                    labels: labels, // Popisky osy X
                    datasets: [{
                        label: 'Počet hodnot',
                        data: values, // Hodnoty osy Y
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script> *@

        <table>
            <thead>
                <tr>
                    @* <th>ID</th> *@
                    <th>DateTime</th>
                    <th>CPU Usage</th>
                    <th>RAM Usage</th>
                    <th>Disk Usage</th>
                    <th>Temperature</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var stat in Model)
                {
                    <tr>
                        
                        <td>@stat.DateTime</td>
                        <td>@stat.CpuUsage</td>
                        <td>@stat.RamUsage</td>
                        <td>@stat.DiskUsage</td>
                        <td>@stat.Temperature</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div style="flex: 1; padding: 10px;">
        <table>
            <thead>
                <tr>
                    @* <th>ID</th> *@
                    <th>Block Number</th>
                    <th>In Peer</th>
                    <th>Out Peer</th>
                    @* <th>Difficulty</th> *@
                </tr>
            </thead>
            <tbody>
                @* @foreach (var stat in Model.BitcoinStats)
                {
                    <tr>
                      
                        <td>@stat.BlockNumber</td>
                        <td>@stat.InPeer</td>
                        <td>@stat.OutPeer</td>
                    </tr>
                } *@
        </table>
    </div>

</div>